@model DatabaseService.Models.User

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой аккаунт</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Account.css" rel="stylesheet" />
    <link href="~/css/LeftMenu.css" rel="stylesheet" />
    <link href="~/css/ServerDetails.css" rel="stylesheet" />
</head>
<body class="dark-theme">
    <div class="sidebar">
        @await Html.PartialAsync("LeftMenuWithBack")
    </div>
    <div class="container mt-5">
        <h1>Мой аккаунт</h1>
        <div class="card profile-card">
            <div class="card-body">
                <h5 class="card-title">@Model.Username</h5>
                <img src="@Model.AvatarUrl" alt="Avatar" class="img-thumbnail" width="100">
                <p class="card-text">Дата первой авторизации: @Model.FirstAuthorizationDate.ToString("g")</p>
            </div>
        </div>
        <h2 class="mt-4">Плейлисты</h2>
        <div class="playlist-grid">
            @foreach(var server in Model.Servers)
            {
                foreach(var playlist in server.Playlists)
                {
                    <div class="playlist-item">
                        <a href="@Url.Action("PlaylistDetails", "PlaylistDetails", new { playlistId = playlist.Id })">
                            <img src="~/musicIcon.jpg" alt="@playlist.Name" />
                            <div class="card-body">
                                <h5 class="card-title">@playlist.Name</h5>
                                <h6 class="card-text">Музыки в плейлисте: @playlist.Musics?.Count()</h6>
                                <h6 class="card-text">Сервер: @server.Name</h6>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
