@model DatabaseService.Models.Playlist

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Треки плейлиста @Model.Name</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/PlaylistDetails.css" rel="stylesheet" />
    <link href="~/css/LeftMenu.css" rel="stylesheet" />
</head>
<body class="dark-theme">
    <div class="sidebar">
        @await Html.PartialAsync("LeftMenu")
    </div>
    <div class="container-fluid">
        <div class="main-content">
            <h2>Плейлист: @Model.Name</h2>
            <h3>Треки</h3>
            <ul class="list-group">
                @foreach (var music in Model.Musics)
                {
                    <li class="list-group-item">
                        <h5>@music.Title</h5>
                        <p class="text-muted">@music.Artist</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@GetYouTubeVideoId(music.YouTubeLink)" allowfullscreen></iframe>
                        </div>
                    </li>
                }
            </ul>

            <div class="mt-4">
                <a href="@Url.Action("AddMusicForm", "Home", new { area = "Home", playlistId = Model.Id })" class="btn btn-primary">Добавить музыку</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

@functions {
    private string GetYouTubeVideoId(string url)
    {
        var uri = new Uri(url);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        return query["v"];
    }
}

@{
    Layout = "";
}
